{% extends "base.html" %}

{% block content %}
<h1>Luo drinkki</h1>

  <h3>Lisätyt ainesosat</h3>
  
  <h3>Lisää ainesosa</h3>
  
  <form method="post">
    <select name="ingredient">
      {% for ingredient in ingredients %}       
          <option value="ingredient">{{ingredient.name}}</option>
      {% endfor %}
    </select>
     
    <div class="form-group">
      <label>Määrä (ml)</label>
      <input type="text" name="volume" class="form-control">
    </div>
      
    <button type="submit">Lisää ainesosa</button>
  </form>
  
  <h3>Lisätyt ainesosat</h3>
  
  {% for ingredient in added_ingredients %}
    {{ingredient.ingredient.name}}
    {{ingredient.volume}}
  {% endfor %}

  <a href="/tsoha/create"><small>Takaisin drinkin luontiin</small></a>

{% endblock %}
