{% extends "base.html" %}

{% block content %}
        
    <h1>{{drink.name}}</h1>

    <h3>Arvosana: {{drink.rating}}</h3>

    <h3>Ainekset</h3>

    {% for ingredient in ingredients %}
        <p>
            <a href="/tsoha/ingredients/{{ingredient.id}}">{{ingredient.name}}</a>
        </p>
    {% endfor %}
    

    <h4>Alkoholiprosentti: {{drink.alcohol_percentage}}%</h4>
    
    <h5>{{drink.description}}</h5>

    <h4>Drinkin teki {{user.username}}</h4>
     
    <a href="/tsoha/drinks/{{drink.id}}/reviews"><h5>Arvostelut</h5></a>

    <a href="/tsoha/drinks"><small>Drinkkeihin</small></a>

{% endblock %}