{% extends "base.html" %}

{% block content %}
<h1>Käyttäjät</h1>
    
    <p>
        <a href="/tsoha/ingredients/ingredient">Maito</a>
        <small>Alkoholiprosentti: 0%</small>
    </p>     
    <p>
        <a href="/tsoha/ingredients/ingredient">Lasol</a>
        <small>Alkoholiprosentti: 80%</small>
    </p> 
    <p>
        <a href="/tsoha/ingredients/ingredient">Marinol</a>
        <small>Alkoholiprosentti: 90%</small>
    </p> 
    
    
    <a href="/tsoha"><small>Valikkoon</small></a>

{% endblock %}
