{% extends "base.html" %}

{% block content %}
<h1>{{message}}</h1>

<h1>Kirjaudu sisään</h1>

  <form method="post">
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input type="text" name="username" class="form-control">
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <input type="password" name="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
  </form>

    <a href="/tsoha"><small>Valikkoon</small></a>
{% endblock %}
