 {% extends "base.html" %}

{% block content %}

    <h1>Drinkin {{drink.name}} arvostelu</h1>   
    <h3>{{errors}}</h3>
    
    <form method = "post">
        <div class="form-group">
          <label>Kuvaus</label>
          <input type="text" name="description" class="form-control">
        </div>
        
        <h4>Arvosana</h4>
        <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        
        <p>
          <button type="submit" class="btn btn-primary">Luo</button>
        </p>
    </form>
    
    <a href="/tsoha/drinks/{{drink.id}}/reviews"><small>Takaisin arvosteluihin</small></a>

{% endblock %}